/*
  The custom styles
*/

$main-color: #ec322c;


%link-color {
  color: var(--text-color);
  transition: all 0.2s;
}

%link-hover {
  color: $main-color !important;
}

%link-underline {
  border-bottom-color: $main-color;
}


.highlighter-rouge {
  color: $main-color;
}


#sidebar {
  background-color: #f5f5f5;

  .profile-wrapper {

    #avatar {
      visibility: hidden;
    }
  }
}


#topbar-wrapper {
  border-bottom: none;

  span#breadcrumb {
    visibility: hidden;
  }
}


#main-wrapper {

  .post {

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    a.img-link {
      color: var(--text-color);
    }

    #post-list {

      .post-preview {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;

        h1 {
          font-weight: bold;

          a {
            color: var(--text-color);
            border-bottom: 1px solid transparent;
            transition: all 0.2s;

            &:hover {
              color: var(--text-color) !important;
              border-bottom-color: $main-color;
            }
          }
        }

        .post-tags {
          margin-bottom: 0.8rem;

          span {
            display: inline-block;
            color: $main-color;
            margin-right: 1rem;

            &:before {
              content: '#';
              margin-right: 0.1rem;
            }
          }
        }

        .post-content {
          font-size: 0.95rem;
          margin-top: 1.0rem;
          margin-bottom: 0.9rem;
        }
      }
    }

    ul.pagination {
      justify-content: center;

      li.page-item {

        a.page-link {
          box-shadow: 0 0 8px 0 transparent !important;
        }

        &.active {

          a.page-link {
            color: $main-color;
            border-color: $main-color;
            background-color: var(--button-bg);
          }
        }
      }
    }

    .post-tail-wrapper {

      .post-tags {

        a.post-tag {
          padding-top: 0.1rem;

          &:hover {
            background-color: var(--tag-bg);
          }
        }
      }
    }

    // CATEGORIES
    .categories {

      i {
        color: $main-color;
      }
    }

    // TAGS
    #tags {

      a.tag {
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 100px;
        box-shadow: none;

        &:hover {
          background-color: var(--button-bg);
          border-color: $main-color !important;
        }
      }
    }
  }

  #tail-wrapper {

    #related-posts {
      margin-top: 3rem !important;
      margin-bottom: 3rem !important;

      .card {

        &:hover {
          transform: none;
          box-shadow: none;
          border-color: $main-color;
        }

        .card-body {
          padding: 0.6rem 1.25rem;

          h3 {
            font-size: 1.1rem;
            line-height: 1.4rem;
            font-weight: bold;
            margin-bottom: 0.5rem !important;
          }

          p {
            line-height: 1.4rem;
          }
        }
      }
    }

    .post-navigation {
      display: none !important;
    }
  }

  #panel-wrapper {

    #access-tags {

      a.post-tag {
        padding-left: 0.6rem;
        padding-right: 0.6rem;

        &:hover {
          color: $main-color;
          border-color: $main-color;
          background-color: var(--button-bg);
        }
      }
    }

    #toc-wrapper {

      a.nav-link{
        border-left: 1px solid transparent;
        transition: all 0.2s;

        &:hover {
          color: $main-color;
          border-left-color: $main-color;
        }

        &.active {
          color: $main-color;
          border-left: 2px solid $main-color;
        }
      }
    }
  }
}
